
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    min-height: 100vh;
    justify-items: center;
    align-items: center;
    background-color: #f0f0f0;
}

.container-flex {
    display: flex;
    background-color: #3498db;
    padding: 20px;
    border-radius: 8px;
    gap: 10px;
    margin: auto;
    width: 80%;
    height: 300px;
    justify-content: center;
    align-items: center;
}

.item {
    width: 80px;
    height: 80px;
    border-radius: 4px;
    flex-shrink: 0;  /* impede q itens encolham'*/
}

.item-1 {
    background-color: brown;
}

.item-2 {
    background-color: chocolate;
}

.item-3 {
    background-color: cornflowerblue;
}